<html>
    <%- include('../../usersAppPartials/header.ejs') %>
    <body>
        <%- include('../../usersAppPartials/nav.ejs') %>
        <div style="height: 65%;height: 65%; font-size: 2rem;text-align: center;padding-top: 2%;padding-bottom: 0;">
                <h1>OOP'S SORRY ! </h1>
            <h1>PAGE NOT FOUND..</h1>
        </div>       
        <%- include('../../usersAppPartials/footer.ejs') %>
    </body>        
</html>