<%- include('../../yelpCamps/yelpCampPartials/head.ejs') %>
<body>

  <%- include('../../yelpCamps/yelpCampPartials/navbar.ejs') %>

  <main>  
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
         <img src="https://images.unsplash.com/photo-1441974231531-c6227db76b6e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8bmF0dXJlfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
  
          <div class="container">
            <div class="carousel-caption text-start">
              <h1 class="caraouselHeading">Samana Garden</h1>
              <p>
               Samana is a beautiful place, located above the HANGU city.
              </p>
              <p><a class="btn btn-lg btn-primary" href="#">Lets Explore</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="https://images.unsplash.com/photo-1602838758613-016040fa47bb?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OXx8YmxhY2slMjBtb3VudGFpbnN8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">          
  
          <div class="container">
            <div class="carousel-caption">
              <h1 class="caraouselHeading">Muhammad Khwaja</h1>
              <p>
                Which give a beautiful and unforgatable memories to the visitors
              </p>
              <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="https://images.unsplash.com/photo-1512123879600-2a2fb1e6ef45?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mjh8fGRhbXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
  
          <div class="container">
            <div class="carousel-caption text-end">
              <h1 class="caraouselHeading">Tanda Dam</h1>
              <p>
                The wide amount of water give visitor a fresh air.
              </p>
              <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  
    <div class="container marketing">
      <h1 class="pt-1 pb-5 text-center ">Team of Experts</h1>
      <div class="row">
        <div class="col-lg">
          <img src="public/Waqar bhai.jpg" alt="M Zubair Img" class="bd-placeholder-img rounded-circle" width="140" height="140">          

          <h3>Muhammad Waqar</h3>
          <p>
            Web developer, Freelancer.
          </p>
          <p><a class="btn btn-secondary" href="#">See Profile &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg">          
          <img src="public/self hhh.jpg" alt="M Zubair Img" class="bd-placeholder-img rounded-circle" width="140" height="140">          
           <h3>Muhammad Zubair</h3>
          <p>
            Web developer, Public speaker.
          </p>
          <p><a class="btn btn-secondary" href="#">see Profile &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg">
          <img src="public/adilBhai.jpeg" alt="M Zubair Img" class="bd-placeholder-img rounded-circle" width="140" height="140">              
  
          <h2>Adil Zia</h2>
          <p>
            Android and IOS developer
          </p>
          <p><a class="btn btn-secondary" href="#">See Profile &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg">
          <img src="public/Rafi bhai.jpg" alt="M Zubair Img" class="bd-placeholder-img rounded-circle" width="140" height="140">          

          <h2>Muhammad Rafi</h2>
          <p>
            WordPress Developer.
          </p>
          <p><a class="btn btn-secondary" href="#">See Profile &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
  
  
      <!-- START THE FEATURETTES -->
  
      <hr class="featurette-divider">
      <h1 class="pt-1 pb-5 text-center ">Up-Coming Campgrounds</h1>
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Let Go Samana Garden. <span class="text-muted">It’ll blow your mind.</span></h2>
          <p class="lead">Samana is a beautiful place located at the top of <a href="#">HANGU </a> City. Which give visitor 
          an unforgatable feelings</p>
        </div>
        <div class="col-md-5">
         <img src="https://images.pexels.com/photos/570041/pexels-photo-570041.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
  
        </div>
      </div> 
      </div>                 
  </main>  
      <hr class="featurette-divider">   
  
    <!-- FOOTER -->
    <footer class="container">
      <p class="float-end"><a href="#">Back to top</a></p>
      <p>&copy; 2020–2023 Learn From Watching, Inc. <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
  </main>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <%- include('../../yelpCamps/yelpCampPartials/footer.ejs') %>
  </body>
</html>