
<%- include('../../yelpCamps/yelpCampPartials/head.ejs') %>
<body>

  <%- include('../../yelpCamps/yelpCampPartials/navbar.ejs') %>
    
<section id="login" style="padding-top: 50px">
    <div class="container">
    	<div class="row">
    	    <div class="col-xs-12">
        	    <div class="form-wrap" style=" width: 30%;margin: 0 auto;">
                <h1 style="color: #1fa67b;font-size: 18px;text-align: center;font-weight: bold;padding-bottom: 20px;">
                    Add a new Campground
                </h1>
                    <form action="/newCampground" method="POST" >
                        <div class="form-group" style=" margin-bottom: 25px;">                            
                            <input type="text" name="campgroundName" class="form-control" placeholder="Campground Name">
                        </div>
                        <div class="form-group" style=" margin-bottom: 25px;">                          
                            <input type="text" name="imgUrl" class="form-control" placeholder="Image Url...">
                        </div>                       
                        <button type="submit" class="btn btn-custom btn-lg btn-block btn-primary" style="font-size: 14px;margin-bottom: 20px;">
                            Add Campground
                        </button>
                    </form>                   
                    <hr>
        	    </div>
    		</div> <!-- /.col-xs-12 -->
    	</div> <!-- /.row -->
    </div> <!-- /.container -->
</section>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <%- include('../../yelpCamps/yelpCampPartials/footer.ejs') %>
  </body>
</html>