<footer class="footer" style="display: flex; align-items: center; justify-content: center; background-color: whitesmoke;">    
   <p id="copyRightText" style="font-family: system-ui;font-size: 1.4rem;">
        Copy right reserved &copy; LearnFromWatching        
    </p> 
</footer>
