<nav class="navbar" style="height: 20%; text-align: right; background-color: whitesmoke;">
    <a href="/index" class="navItem" id="home" style="display: inline-block; padding: 5%; margin: auto; text-decoration: none; font-size: 139%;font-family: sans-serif; font-weight: 900;">
         Home 
    </a>
    <a href="/registration" class="navItem" id="signUp"style="display: inline-block; padding: 5%; margin: auto; text-decoration: none; font-size: 139%;font-family: sans-serif; font-weight: 900;"> 
        Sign Up 
    </a>
    <a href="/users" class="navItem" id="users" style="display: inline-block; padding: 5%; margin: auto; text-decoration: none; font-size: 139%;font-family: sans-serif; font-weight: 900;"> 
        Users 
    </a>
</nav>