<h1>Register Yourself</h1><br>
<form action="/register" method="POST">
    <input type="text" placeholder="Your Name" name="username"><br>
    <input type="password" placeholder="password" name="password"><br>
    <button>Sign Up</button>
</form>
<ul>
    <li>
        <a href="/register">Sign Up</a>
        <a href="/login">Login</a>
        <a href="/logout">Logout</a>
    </li>
</ul>